.button-top {
  z-index: 1000;

  position: fixed;
  bottom: 30%;
  right: 5%;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  background-color: var(--color-primary);
  border-radius: 4px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
}

.button-top:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
}

/* .button-top::after */
.arrow-up {
  border: solid var(--color-font-secondary);
  background-color: transparent;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
  margin-top: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
