.button {
  cursor: pointer;

  height: 38px;
  width: 100%;
  max-width: 200px;

  border-radius: 4px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: var(--color-primary);
  color: var(--color-font-secondary);
}
