.block {
  /* margin: 0 10px; */
  width: 100%;
}

.header {
  text-align: start;
  padding-bottom: 20px;
}

.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.header {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;

  color: var(--color-font-secondary);
}

@media screen and (max-width: 1023px) {
  .clients {
    justify-content: space-around;
  }
  .header {
    text-align: center;
  }
}
