.card {
  max-width: 445px;
  text-align: start;
  width: 100%;
}

.header {
  min-height: 116px;
  /* max-width: 421px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  /* height: auto; */

  -webkit-box-shadow: 3px 3px 15px 6px rgba(0, 0, 0, 0.29);
  box-shadow: 3px 3px 15px 6px rgba(0, 0, 0, 0.29);

  width: 100%;
  height: 300px;
  max-width: 445px;

  object-fit: cover;

  border-radius: 5px;
  margin-bottom: 20px;
}

.button {
  width: 160px;
}

@media screen and (max-width: 1023px) {
  .button {
    width: 100%;
  }
}
